body, button {
    font-family: "Inter", sans-serif;
    overflow: auto;
}

:root {
    --offcanvas-width: 275px;
    --topNavbarHeight: 60px;
} 

.page-title {
    padding: 10px;
    color: rgb(228, 230, 228);
}

#offcanvasExample {
    width: var(--offcanvas-width);
    transform: none;
    visibility: visible;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
}

#admin-main {
    margin-left: var(--offcanvas-width);
}

.history-filters{
    display: flex;
    gap: 10px; /* Space between the elements */
    margin-bottom: 15px;
}

.history-filters div{
    display: flex;
    align-items: center;
}

.history-filters label{
    margin-right: 8px;
    font-weight: bold;
}

.historyTable_filter{
    display: flex;
    align-items: center;
}

/* Adjust for responsive behavior if needed */
@media (max-width: 768px) {
    .history-filters{
        flex-direction: column;
        align-items: flex-start;
    }
}

#db-content,
#history-content,
#available-content {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}